[submodule "contrib/melange"]
	path = contrib/melange
	url = git://github.com/cream/melange-contrib.git
[submodule "gui/widgets"]
	path = gui/widgets
	url = git://github.com/cream/gtkwidgets
[submodule "contrib/appindicators"]
	path = contrib/appindicators
	url = git://github.com/cream/appindicators-contrib.git
